/*colors!!! 
blue  #4deeea
pink #f000ff
yellow #ffe700
*/
body {
    background-color: black;
    background-position: center center;
    background-image: url("https://cdn.images.express.co.uk/img/dynamic/130/590x/Easy-quiz-questions-1282929.webp?r=1610179087464");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Londrina Shadow', cursive;
}


.container {
    background-color: rgba(00,00,00, 0.6);
    width: 800px;
    margin: auto;
    margin-top: 300px;
    margin-bottom: 300px;
    color: white;
    padding: 0 50px 50px;
    border-radius: 5%;
    border: 2px solid white;
    text-align: center;
}

h1 {
    opacity: 1;
    font-size: 75px;
    color: #4deeea;
    margin: 60px 0 40px 0;
}

p {
    font-family: 'Press Start 2P', cursive;
}

.scoreBoard {
    background: black;
    color: #ffe700;
    border: 2px solid #c96ccf;
    width: 600px;
    margin: auto;
    padding: 10px 0;
}

.question {
    font-size: 25px;
    font-family: 'Russo One', sans-serif;
    letter-spacing: 1.5px;
    margin: 30px auto 20px;
    width: 600px;
}

.btn {
    background-color: black;
    border: 2px solid black;
    color: #c96ccf;
    font-size: 20px;
    padding: 10px 20px;
    font-family: 'Orbitron', sans-serif;
    font-weight: 700;
    margin: 14px;
    border-radius: 40%;
    border-radius: 30px / 20px;
}

.btn:hover {
    color: #4deeea;
    border: 2px solid #4deeea;
}